@media only screen and (min-width: 1280px) {
  .about-container {
    text-align: center;
    margin-top: 50px;
    padding-top: 1px;
    height: 400px;
    background: linear-gradient(rgba(35, 35, 35, 0.901), #1d1e1e),
      url(/src/Images/activo.jpg);
    background-size: cover;
    background-position: center;
    /* animation: fall 4s infinite linear; */
    position: relative;
  }

  .about-container h3 {
    color: #ffffff;
    font-size: 16px;
    margin-top: 50px;
  }
  .about-container h2 {
    color: #ffffff;
  }
  .about-container p {
    color: #ffffff;
    margin-top: 40px;
  }
  .about-statements {
    text-align: justify;
    display: flex;
    align-items: center;
  }

  .about-statements .first {
    padding: 0 20px 0 150px;
    line-height: 1.6;
  }
  .about-statements .second {
    padding: 0 150px 0 20px;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 350px) {
  .about-statements .first {
    text-align: left;
    padding: 0 0 0 0;
    line-height: 1.5;
  }
  .about-container {
    /* height: 300px; */
  }
  .about-statements {
    margin-top: 50px;
    text-align: left;
    justify-content: space-around;
    padding: 0 10px;
  }
  .about-statements p {
    margin-top: 0px;
    font-size: 12px;
  }
  .about-container h3 {
    margin-top: 0;
  }
  .about-statements .second {
    line-height: 1.5;
    text-align: right;
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .about-statements .first {
    text-align: left;
    padding: 0 0 0 0;
    line-height: 1.8;
  }
  .about-container {
    /* height: 300px; */
  }
  .about-statements {
    margin-top: 50px;
    text-align: left;
    justify-content: space-around;
    padding: 0 10px;
  }
  .about-statements p {
    margin-top: 0px;
    font-size: 12px;
  }
  .about-container h3 {
    margin-top: 0;
  }
  .about-statements .second {
    margin-top: -20px;
    line-height: 1.8;
    text-align: right;
    padding: 0;
  }
}
