.about-container {
  text-align: center;
  margin-top: 50px;
  padding-top: 1px;
  height: 400px;
  background: linear-gradient(rgba(35, 35, 35, 0.901), #1d1e1e),
    url(/src/Images/activo.jpg);
  background-size: cover;
  background-position: center;
  /* animation: fall 4s infinite linear; */
  position: relative;
}

.about-container h3 {
  color: #ffffff;
  font-size: 16px;
  margin-top: 50px;
}
.about-container h2 {
  color: #ffffff;
}
.about-container p {
  color: #ffffff;
  margin-top: 40px;
}
.about-statements {
  text-align: justify;
  display: flex;
  align-items: center;
}

.about-statements .first {
  padding: 0 20px 0 150px;
  line-height: 1.6;
}
.about-statements .second {
  padding: 0 150px 0 20px;
  line-height: 1.6;
}

@media screen and (max-width: 880px) {
  .about-statements .first {
    padding-left: 30px;
  }
  .about-statements .second {
    padding-right: 30px;
  }
}
@media screen and (max-width: 670px) {
  .about-container h3 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 635px) {
  .about-container p {
    margin-top: 30px;
  }
  .about-statements .second {
    margin-top: 10px;
  }
}
@media screen and (max-width: 580px) {
  .about-container p {
    font-size: 14px;
  }
}
@media screen and (max-width: 470px) {
  .about-statements .second,
  .about-statements .first {
    line-height: 1.3;
  }
}
@media screen and (max-width: 410px) {
  .about-statements .second,
  .about-statements .first {
    line-height: 1.3;
  }
  .about-statements .first {
    text-align: left;
  }
  .about-statements .second {
    text-align: right;
  }
  .about-container {
    height: 450px;
  }
}
/*
@media only screen and (max-width: 350px) {
  .about-statements .first {
    text-align: left;
    padding: 0 0 0 0;
    line-height: 1.5;
  }

  .about-statements {
    margin-top: 50px;
    text-align: left;
    justify-content: space-around;
    padding: 0 10px;
  }
  .about-statements p {
    margin-top: 0px;
    font-size: 12px;
  }
  .about-container h3 {
    margin-top: 0;
  }
  .about-statements .second {
    line-height: 1.5;
    text-align: right;
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .about-statements .first {
    text-align: left;
    padding: 0 0 0 0;
    line-height: 1.8;
  }
 
  .about-statements {
    margin-top: 50px;
    text-align: left;
    justify-content: space-around;
    padding: 0 10px;
  }
  .about-statements p {
    margin-top: 0px;
    font-size: 14px;
  }
  .about-container h3 {
    margin-top: 0;
  }
  .about-statements .second {
    margin-top: -20px;
    line-height: 1.8;
    text-align: right;
    padding: 0;
  }
}
  */
