.container {
  padding: 0 50px;
  margin-top: 50px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.extraHeader h3 {
  text-align: center;
  margin-top: 70px;
  color: #e36262;
}

.serviceCard {
  margin-bottom: 30px;
}
.serviceCard img {
  margin-bottom: 10px;
  width: 340px;
  height: 200px;
  object-fit: cover;
}
.serviceCard h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.serviceCard p {
  width: 330px;
  font-size: 14px;
  letter-spacing: 1.6px;
  line-height: 1.2;
  color: #4a4a4a;
}
.more {
  margin-top: 10px;
  cursor: pointer;
  font-size: 13px !important;
  font-weight: bold;
  letter-spacing: 0.5px !important;
  color: #ff3e4e !important;
}
@media screen and (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
