.carousel {
  height: 700px;
}

.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-duration: 1s ease;
}
.imageContainer.active {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-duration: 1s ease;
  opacity: 1;
  transition: 1s;
  /* transform: scale(1.08); */
}
.companyName {
  width: 300px;
  text-align: center;
  color: #fff;
  /* text-align: center; */
}
.companyName h3 {
  letter-spacing: 2px;
  font-size: 150px;
}
.fireScience {
  position: relative;
  letter-spacing: 3px;
  margin-top: -10px;
  color: #f9b2aa;
  font-size: small;
}
.fireScience::after,
.fireScience::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 90px;
  background-color: #fff;
}
.fireScience::before {
  left: -5px;
  top: 45%;
}
.fireScience::after {
  right: -5px;
  top: 45%;
}
.image {
  object-fit: cover;
  height: 540px;
  width: 100%;
}
.cta {
  position: absolute;
  max-width: 1280px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.768);
  width: 100%;
  height: 540px;
}
.menu-btn {
  position: fixed;
  z-index: 90910;
  /* z-index: 100; */
  top: 10px;
  right: 5px;
  display: none;
  cursor: pointer;
}
.menu-btn svg {
  font-size: 30px;
  color: #ffffff;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
  padding: 17px 20px;
  transition: 0.3s ease-in-out;
}
.nav.active {
  position: fixed;
  z-index: 90909;
  width: 100%;
  background: #1b1b1b;
  transition: 0.3s ease-in;
}
.logo {
  text-align: center;
}
.logo h3 {
  color: #ffffff;
  font-size: 40px;
}
.logo p {
  color: #f9b2aa;
  position: relative;
  font-size: 10px;
  line-height: 1px;
  letter-spacing: 1.8px;
}
.logo p::after {
  position: absolute;
  width: 12px;
  content: "";
  background-color: #ffffff;
  height: 1px;
  right: 3px;
}
.logo p::before {
  position: absolute;
  width: 12px;
  content: "";
  background-color: #ffffff;
  height: 1px;
  left: 3px;
}
.links {
  display: inline-flex;
}
.links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
}
.links a::before {
  transition: 0.3s ease-in-out;
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #e36262;
  bottom: 0;
  top: 20px;
  /* left: 0; */
}
.links a:hover::before {
  width: 100%;
  /* opacity: 1; */
}
.call-us {
  background-color: #e36262;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  padding: 15px 25px;
  transition: 0.3s ease-out;
}
.call-us:hover {
  border: 1.4px solid #ffffff;
  background: transparent;
  font-weight: bold;
}
.cta-content {
  margin: 60px 40px 0;
}
.cta-content .welcome {
  /* margin-bottom: 20px; */
  font-weight: 600;
  margin-left: 6px;
  letter-spacing: 3px;
  color: #ffffff;
}
.cta-content h2 {
  font-family: "Syncopate", sans-serif;
  color: #ffffff;
  width: 80%;
  line-height: 1;
  font-size: 80px;
  position: relative;
}
.cta-content h2::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 4px;
  background-color: #f9b2aa;
  top: 160px;
  bottom: 0;
  left: 3px;
}
.cta-content .intro {
  margin-top: 30px;
  color: #ffffff;
  width: 30%;
  font-size: 14px;
  margin-left: 4px;
  font-weight: bold;
}
.readMoreContainer {
  margin-top: 30px;
}
.read-more {
  text-decoration: none;
  background-color: #e36262;
  border-radius: 5px;
  color: #ffffff;
  padding: 14px 50px;
  letter-spacing: 3px;
  font-size: 13px;
  transition: 0.3s ease-out;
}
.read-more:hover {
  background-color: black;
}
.call-us2 {
  background-color: #e36262;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  display: none;
  padding: 15px 25px;
  transition: 0.3s ease-out;
}
.mobile-nav {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  background-color: #3d3d3dfd;
  width: 50%;
  height: 100vh;
  z-index: 900999990;
  transition: 0.8s ease-in-out;
}
.mobile-nav-disabled {
  transform: translateX(-50%);
  display: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
.close-btn svg {
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}
.mobile-links {
  display: flex;
  flex-direction: column;
  margin-top: 40%;
  margin-left: 30px;
  /* align-items: center; */
  /* text-align: left; */
}
.mobile-links a {
  margin-bottom: 30px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.mobile-links a::before {
  position: absolute;
  content: "";
  background-color: #f9b2aa;
  width: 40px;
  height: 2px;
  bottom: 0;
  top: 25px;
}

@media screen and (max-width: 995px) {
  .cta-content h2 {
    font-size: 70px;
  }
  .cta-content h2::after {
    top: 140px;
  }
  .cta-content .intro {
    width: 50%;
  }
}
@media screen and (max-width: 886px) {
  .cta-content h2 {
    font-size: 60px;
  }
  .cta-content h2::after {
    top: 120px;
  }
}
@media screen and (max-width: 861px) {
  .navLinks {
    display: none;
  }
  .menu-btn {
    display: block;
    right: 10px;
  }
  .menu-btn svg {
    font-size: 45px;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (max-width: 769px) {
  .menu-btn {
    display: block;
    right: 20px;
    top: 20px;
  }
  .menu-btn svg {
    font-size: 40px;
  }
  .navLinks {
    display: none;
  }
  .cta-content h2 {
    font-size: 50px;
  }
  .cta-content h2::after {
    top: 100px;
  }
  .cta-content .intro {
    width: 60%;
  }
  .readMoreContainer {
    display: flex;
    justify-content: space-around;
  }
  .call-us2 {
    display: block;
    width: 300px;
    background-color: transparent;
    border: 1.4px solid #ffffff;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 659px) {
  .cta-content h2 {
    font-size: 40px;
  }
  .cta-content h2::after {
    top: 80px;
  }
}
@media screen and (max-width: 602px) {
  .call-us2 {
    width: 250px;
  }
}
@media screen and (max-width: 570px) {
  .cta-content .intro {
    width: 80%;
  }
  .logo h3 {
    font-size: 30px;
  }
  .logo p {
    font-size: 8px;
  }
  .logo p::before {
    width: 8px;
    left: 84px;
  }
  .logo p::after {
    right: 84px;
    width: 8px;
  }
}
@media screen and (max-width: 542px) {
  .cta-content h2 {
    font-size: 35px;
  }
  .cta-content h2::after {
    top: 70px;
  }
  .call-us2 {
    width: 200px;
    font-size: 10px;
  }
}
@media screen and (max-width: 530px) {
  .readMoreContainer {
    display: block;
  }
  .call-us2 {
    width: 250px;
    font-size: 12px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 490px) {
  .cta-content h2 {
    font-size: 30px;
  }
  .cta-content h2::after {
    top: 60px;
  }
  .cta-content .intro {
    font-weight: normal;
  }
  .cta-content .welcome {
    font-size: 12px;
  }
}
@media screen and (max-width: 440px) {
  .cta-content h2 {
    font-size: 26px;
  }
  .mobile-nav {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .cta-content h2 {
    font-size: 24px;
    width: 95%;
  }
  .companyName h3 {
    font-size: 80px;
  }
  .fireScience::after,
  .fireScience::before {
    width: 40px;
  }
  .fireScience::before {
    left: 45px;
  }
  .fireScience::after {
    right: 45px;
  }
  .mobile-nav {
    display: block;
  }
  .cta-content .intro {
    margin: 20px auto;
    font-size: 12px;
    /* margin-left: auto; */
  }
}
/* @media screen and (max-width: 350px) {
  .logo h3 {
    font-size: 15px;
  }
  .logo p {
    font-size: 2px;
  }
  .logo p::after {
    position: absolute;
    width: 2px;
    content: "";
    background-color: #ffffff;
    height: 0.3px;
    right: 1px;
  }
  .logo p::before {
    position: absolute;
    width: 2px;
    content: "";
    background-color: #ffffff;
    height: 0.3px;
    left: 1px;
  }
  .menu-btn {
    display: block;
  }
  .navLinks {
    display: none;
  }
  .cta-content .welcome {
    font-size: 10px;
  }
  .cta-content h2 {
    width: 100%;
    font-size: 30px;
  }
  .cta-content h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    background-color: #f9b2aa;
    top: 100px;
    bottom: 0;
    left: 3px;
  }
  .cta-content .intro {
    font-size: 12px;
    width: 70%;
    font-weight: normal;
  }
  .readMoreContainer {
    margin-top: 50px;
  }
  .read-more {
    border-radius: 0;
    width: 250px;
    padding: 15px 25px;
  }
  .call-us2 {
    width: 250px;
    display: block;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #ffffff;
  }
  .services-container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 480px) {
  .logo h3 {
    font-size: 25px;
  }
  .logo p {
    font-size: 7px;
  }
  .logo p::after {
    position: absolute;
    width: 6px;
    content: "";
    background-color: #ffffff;
    height: 1px;
    right: 75px;
  }
  .logo p::before {
    position: absolute;
    width: 6px;
    content: "";
    background-color: #ffffff;
    height: 1px;
    left: 75px;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn svg {
    font-size: 40px;
  }
  .navLinks {
    display: none;
  }
  .cta-content .welcome {
    font-size: 14px;
  }
  .cta-content h2 {
    width: 100%;
    font-size: 40px;
  }
  .cta-content h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    background-color: #f9b2aa;
    top: 80px;
    bottom: 0;
    left: 3px;
  }
  .cta-content .intro {
    font-size: 14px;
    width: 70%;
    font-weight: normal;
  }
  .readMoreContainer {
    margin-top: 50px;
  }
  .read-more {
    border-radius: 0;
    width: 250px;
    padding: 15px 25px;
  }
  .call-us2 {
    width: 250px;
    display: block;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #ffffff;
  }
  .services-container {
    padding: 0 20px;
  }
} */
